header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 980px;
    margin: 0 auto;
}
nav{/*Menu*/
    position: absolute; /*Livre dentro da div relative*/
    right: 0px;
    top: 110px; /*Altura do menu*/
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: white;
    text-decoration: underline;
}

.produto{
    width: 940px;
    margin: 0 auto;

}
.produto li{
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top; /*Alinha os conteúdos pelo top*/
    padding: 50px 0;
    margin: 10% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.produto li:hover{
    border-color: red;
}
.produto li:active{
    border-color: white;
}
.produto li:hover h2{
    font-size: 34px;
}
.produto h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("assets/bg.jpg");
    font-size: 20px;
    color: white;
    padding: 40px 0;
}

.copyright{
    font-size: 13px;
    color: white;
    margin-top: 10px;
}