#banner{
    width: 100%;
}
.principal{
    background-color: #CCCCCC;
    padding: 30px;
}
.tituloCentralizado{
    text-align: center;
}
p{
    text-align: center;
}
#missao{
    font-size: 20px;
}
em strong{
    color: red;
}
.itens{
    font-style: italic;
}
.beneficios{
    background: white;
    padding: 20px;
}
.itens{
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin-right: 15%;
}
.imagemBeneficios{
    width: 50%;
}

.teste{
    position: relative;
    width: 500px;
}
header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 980px;
    margin: 0 auto;
}
nav{/*Menu*/
    position: absolute; /*Livre dentro da div relative*/
    right: 0px;
    top: 110px; /*Altura do menu*/
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}